* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header {  
    position: fixed;
    background-color: #F2F2F2;
    padding: 0px;
    display: flex;
    align-items: center;
    top: 0;
    left: 0;
    right:0;
    height: 90px;    
}

header h1 {
    font-size: 35px;
    color: #333;    
    margin-right: 100px;
    font-family: Arial, Helvetica, sans-serif;
  }

  header nav ul a {
    color: rgb(0, 99, 228);
    font-size: 1.3rem;
    text-decoration: none;
    margin-top: 1em;
    display: inline-block;
    font-weight: bold;
    padding: .5em;
    margin-left: -.5em;
    position: relative;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    font-family: Arial, Helvetica, sans-serif;

}

header nav ul a:before, header nav ul a:after {
    position: absolute;
    content: '';
    border-bottom: 3px solid rgb(0, 99, 228);
    border-radius: 1em;
    bottom: .3em;
    transition: transform .5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

header a:before {
    width: 1em;
    transform-origin: left;
}

header a:after {
    width: 82%;
    left: 1em;
    transform: translateX(110%);
}

header a:hover:before {
    transform: scaleX(0.3);
}

header a:hover:after {
    transform: translateX(0);
}

/* Estilo específico para os links da navegação (nav) */
header nav ul {
    list-style-type: none;
    margin: 50px;
    padding: 0px;
    margin-right: 0px;
}

header nav ul li {
    display: inline-block;
    margin-right: 80px;
}

header nav ul li a {
    font-family: Georgia;
    font-size: 20px;
    color: #333;
}

/* Estilos para os links na barra de navegação */
a.nav-link:link {
    color: #000000;
    text-decoration: none;
}

a.nav-link:visited {
    color: #333;
    text-decoration: none;
}

a.nav-link:hover {
    color: #333;
    text-decoration: none;
}

a.nav-link:active {
    color: #333;
    text-decoration: none;
}


  .logo-image {
    margin-left: 10px;
    width: 200px;
    height: auto;
    margin-right: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
  }


  main{
    background-color: #ccccca;
    padding: 70px;
    margin-top: 50px; 
    background-size: auto;
    min-height: 90vh;
  }

  .tabContainer ul {
    /* Estilos para a lista não ordenada dentro do contêiner de abas */
    list-style-type: none; /* Remove os marcadores de lista */
    padding: -50px; /* Remove o preenchimento padrão da lista */
    margin-top: -15px;
    margin-left: 0px;
    margin-right: 50px; /* Remove a margem padrão da lista */
    text-align: center;
  }
  
  .tabContainer ul li {
    /* Estilos para cada item de lista dentro do contêiner de abas */
    display: inline;
    border: 0px solid #ddd;
    padding:  8px 10px;
    background-color: #f5f5f5;
    border-radius: 5px;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .tabContainer ul li a {
    /* Estilos para os links dentro de cada item de lista */
    text-decoration: none; /* Remover sublinhado padrão */
    padding: 10px 20px; /* Adicionar preenchimento ao redor do texto */
    display: inline-block; /* Permitir que os links se comportem como blocos para adicionar preenchimento e margem */
    color: black; /* Cor do texto */
    font-weight:700;
  }
  
  .tabContainer ul li:hover {
    /* Estilos para os links quando o mouse passa por cima */
    background-color: rgb(0, 99, 228); /* Altera o fundo ao passar o mouse */
  }

  .background-section {
    display: block;
    margin: 60px auto; /* This will center the element horizontally with 20px margin on top */
    width: 1000px;
    height: auto; /* or whatever height you desire */
}
  
  footer {
    background-color: rgb(0, 99, 228);
    padding: 20px;
    text-align: center;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
  }

  .company-info {
    font-size: 14px;
    color: #000000;
    font-weight: bold;
  }
  
  
  
  /* Adicione estilos adicionais conforme necessário */
  