.tab,
.consumerTab {
    border: 1px solid #ddd;
    padding: 20px;
    margin-bottom: 20px;
    background-color: #f5f5f5;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.addSupplierButton,
.addInventoryButton,
.addProcessButton,
.addSupplierButton,
.addInfoButton{
    display: inline-block;
    padding: 3px 8px;
    border: 2px solid rgb(100, 100, 100); /* Grey border */
    background-color: rgb(100, 100, 100); /* Grey background */
    color: #ffffff; /* White text */
    font-size: 12px;
    font-weight: 500;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;  
}

.addSupplierButton:hover,
.addInventoryButton:hover,
.addProcessButton:hover,
.addSupplierButton:hover,
.addInfoButton:hover{
    background-color: #333333; /* Darker grey background on hover */
    border-color: #333333; /* Darker grey border on hover */
}

.addSupplierButton:focus,
.addInventoryButton:focus
.addProcessButton:focus,
.addSupplierButton:focus,
.addInfoButton:focus{
    outline: none; /* Remove outline on focus */
}

.flex-container {
    display: inline;
}

.flex-container button {
    margin-left: 200px; /* Adjust the margin as needed */
    float: right; /* Float the button to the right */
}

.flex-container button{
  display: inline-block;
  padding: 5px 10px;
  border: 2px solid rgb(0, 99, 228); 
  background-color: rgb(0, 99, 228); 
  color: #ffffff; /* White text */
  font-size: 14px;
  font-weight: 500;
  text-align: center;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

.flex-container button:hover {
    background-color: #004d9e; /* Darker blue background on hover */
    border-color: #004d9e; /* Darker blue border on hover */
    color: #ffffff; /* White text on hover */
  }
  
  .flex-container button:focus {
    outline: none; /* Remove outline on focus */
  }

.tab h2,
.consumerTab h2 {
    display: inline; /* Keeps the h2 on the same line */
    font-size: 24px; /* Slightly increased font size for headings */
    margin-bottom: 15px;
    color: #333;
 /* Uppercase headings for a more refined look */
}

label {
    display: block;
    margin-bottom: 10px; /* Slightly reduced margin for labels */
    font-weight: bold;
    color: #555; /* Adjusted label color for better contrast */
}

input[type="text"] {
    width: calc(100% - 22px); /* Adjusted width to accommodate padding and border */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    margin-bottom: 15px; /* Increased margin bottom for input elements */
    color: #333; /* Defined input text color */
}

/* Additional styles for better readability and aesthetics */
.tab, .consumerTab {
    transition: box-shadow 0.3s ease; /* Smooth transition for box-shadow on hover */
}

.tab:hover, .consumerTab:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Slightly increased box-shadow on hover for depth */
}


.tab h3{
  font-size: 18px; /* Slightly increased font size for headings */
  margin-bottom: 5px;
  color: #333;
}