* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header {  
    position: fixed;
    background-color: #F2F2F2;
    padding: 0px;
    display: flex;
    align-items: center;
    top: 0;
    left: 0;
    right:0;
    height: 90px;    
    display: flex;
    justify-content: center; /* Centraliza horizontalmente */
}

header h1 {
    font-size: 35px;
    color: #333;    
    margin-right: 100px;
    font-family: Arial, Helvetica, sans-serif;
  }

  header nav ul a {
    color: rgb(0, 99, 228);
    font-size: 1.3rem;
    text-decoration: none;
    margin-top: 1em;
    display: inline-block;
    font-weight: bold;
    padding: .5em;
    margin-left: -.5em;
    position: relative;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    font-family: Arial, Helvetica, sans-serif;

}

header nav ul a:before, header nav ul a:after {
    position: absolute;
    content: '';
    border-bottom: 3px solid rgb(0, 99, 228);
    border-radius: 1em;
    bottom: .3em;
    transition: transform .5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

header a:before {
    width: 1em;
    transform-origin: left;
}

header a:after {
    width: 82%;
    left: 1em;
    transform: translateX(110%);
}

header a:hover:before {
    transform: scaleX(0.3);
}

header a:hover:after {
    transform: translateX(0);
}

/* Estilo específico para os links da navegação (nav) */
header nav ul {
    list-style-type: none;
    margin: 20px;
    padding: 0px;
    margin-right: 0px;
}

header nav ul li {
    display: inline-block;
    margin-right: 80px;
}

header nav ul li a {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
    color: #333;
}

/* Estilos para os links na barra de navegação */
a.nav-link:link {
    color: #000000;
    text-decoration: none;
}

a.nav-link:visited {
    color: #333;
    text-decoration: none;
}

a.nav-link:hover {
    color: #333;
    text-decoration: none;
}

a.nav-link:active {
    color: #333;
    text-decoration: none;
}


  .logo-image {
    width: 200px;
    height: auto;
    margin-right: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
  }


  main{
    background-color: #ccccca;
    padding: 70px;
    margin-top: 50px; 
    background-size: auto;
    min-height: 93vh;
  }

  .tabContainer ul {
    /* Estilos para a lista não ordenada dentro do contêiner de abas */
    list-style-type: none; /* Remove os marcadores de lista */
    padding: -50px; /* Remove o preenchimento padrão da lista */
    margin-top: -15px;
    margin-left: 0px;
    margin-right: 50px; /* Remove a margem padrão da lista */
    text-align: center;
    margin-bottom: 10px;

  }
  
  .tabContainer ul li {
    /* Estilos para cada item de lista dentro do contêiner de abas */
    display: inline;
    border: 0px solid #ddd;
    margin-right: 10px; /* Ajusta o espaçamento entre os itens */
    padding:  8px 10px;
    background-color: #f5f5f5;
    border-radius: 5px;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .tabContainer ul li a {
    /* Estilos para os links dentro de cada item de lista */
    text-decoration: none; /* Remover sublinhado padrão */
    padding: 10px 20px; /* Adicionar preenchimento ao redor do texto */
    display: inline-block; /* Permitir que os links se comportem como blocos para adicionar preenchimento e margem */
    color: black; /* Cor do texto */
    font-weight:700;
  }
  

  .background-section {
    display: block;
    margin: auto; /* This will center the element horizontally with 20px margin on top */
    width: 1000px;
    margin-bottom: 18px;
    max-height: 100%;
    margin-top: 15px;
  }
  
  footer {
    background-color: rgb(0, 99, 228);
    padding: 10px;
    text-align: center;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
  }

  .company-info { 
    font-size: 14px;
    color: #000000;
    font-weight: bold;
  }

  .center-container {
    text-align: center;
    margin-top: 18px; /* Adjust margin-top as needed */
}

.start-button {
    display: inline-block;
    padding: 20px 40px;
    background-color: #F24D45;
    color: #fff;
    font-size: 27px;
    font-weight: bold;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Add a subtle shadow for depth */
    transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s;
    font-family: Arial, Helvetica, sans-serif;
}

.start-button:hover {
    background-color: #1C253D; /* Darker shade of blue on hover */
    transform: translateY(-2px); /* Add a slight upward lift on hover */
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.2); /* Enhance shadow on hover */
}


  @media screen and (max-width: 1513px){
    /* Coloque aqui os estilos específicos para telas menores que 1514px
    /* Por exemplo: */
    header {
      height: 60px; /* Reduz a altura do cabeçalho em telas menores */
    }
  
    header h1 {
      font-size: 25px; /* Reduz o tamanho da fonte do título em telas menores */
      margin-right: 30px; /* Reduz a margem direita do título em telas menores */
    }
  
    header nav ul {
      margin: 10px; /* Reduz a margem ao redor dos itens de navegação em telas menores */
    }
  
    header nav ul li {
      margin-right: 30px; /* Reduz a margem entre os itens de navegação em telas menores */
    }
  
    .logo-image {
      width: 120px; /* Reduz o tamanho do logotipo em telas menores */
      margin-right: 10px; /* Reduz a margem direita do logotipo em telas menores */
    }
  
    main {
      padding: 30px; /* Reduz o preenchimento principal em telas menores */
    }
  
    .background-section {
      width: 90%; /* Reduz a largura do elemento de fundo em telas menores */
      margin: 30px auto; /* Ajusta a margem do elemento de fundo em telas menores */
    }
  }
  
  /* Media query para telas menores que 1034px de largura */
@media screen and (max-width: 1034px) {
  /* Coloque aqui os estilos específicos para telas menores que 1034px */
  header {
    height: 50px; /* Reduz a altura do cabeçalho em telas menores */
  }

  header h1 {
    font-size: 20px; /* Reduz o tamanho da fonte do título em telas menores */
    margin-right: 30px; /* Reduz a margem direita do título em telas menores */
  }

  header nav ul li {
    margin-right: 30px; /* Reduz a margem entre os itens de navegação em telas menores */
  }

  .logo-image {
    width: 120px; /* Reduz o tamanho do logotipo em telas menores */
    margin-right: 10px; /* Reduz a margem direita do logotipo em telas menores */
  }

  main {
    padding: 40px; /* Reduz o preenchimento principal em telas menores */
  }

  .background-section {
    width: 90%; /* Reduz a largura do elemento de fundo em telas menores */
    margin: 30px auto; /* Ajusta a margem do elemento de fundo em telas menores */
  }
  header nav ul a {
    font-size: 1.0rem;
    margin-top: .5em;
    display: inline-block;
    font-weight: bold;
    padding: .4em;
    margin-left: -.4em;
    position: relative;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    font-family: Arial, Helvetica, sans-serif;
  }
  header nav ul li a {
    font-size: 20px;
    color: #333;
  }
}

@media screen and (max-width: 951px) {
  /* Coloque aqui os estilos específicos para telas menores que 1034px */
  header {
    height: 40px; /* Reduz a altura do cabeçalho em telas menores */
    display: flex;
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
  }
  
  .logo-image,
  header h1,
  header nav {
    margin: 0 20px; /* Adiciona margem entre os elementos */
  }

  header h1 {
    font-size: 15px; /* Reduz o tamanho da fonte do título em telas menores */
    margin-right: 12px; /* Reduz a margem direita do título em telas menores */
  }

  header nav ul li {
    margin-right: 12px; /* Reduz a margem entre os itens de navegação em telas menores */
  }

  .logo-image {
    width: 100px; /* Reduz o tamanho do logotipo em telas menores */
    margin-right: 10px; /* Reduz a margem direita do logotipo em telas menores */
  }

  main {
    padding: 30px; /* Reduz o preenchimento principal em telas menores */
    margin-top: 40px; 
  }

  .background-section {
    width: 90%; /* Reduz a largura do elemento de fundo em telas menores */
    margin: 30px auto; /* Ajusta a margem do elemento de fundo em telas menores */
  }
  header nav ul a {
    font-size: 1.0rem;
    margin-top: .5em;
    display: inline-block;  
    font-weight: bold;
    padding: .4em;
    margin-left: -.4em;
    position: relative;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    font-family: Arial, Helvetica, sans-serif;
  }
  header nav ul li a {
    font-size: 15px;
    color: #333;
  }
}

@media screen and (max-width: 762px) {
  /* Coloque aqui os estilos específicos para telas menores que 1034px */
  header {
    height: 40px; /* Reduz a altura do cabeçalho em telas menores */
    display: flex;
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
  }

  .logo-image,
  header h1,
  header nav {
    margin: 0 10px; /* Adiciona margem entre os elementos */
  }

  header h1 {
    font-size: 15px; /* Reduz o tamanho da fonte do título em telas menores */
    margin-right: 0px; /* Reduz a margem direita do título em telas menores */
  }

  header nav ul li {
    margin-right: 0px; /* Reduz a margem entre os itens de navegação em telas menores */
  }

  .logo-image {
    width: 100px; /* Reduz o tamanho do logotipo em telas menores */
    margin-right: 0px; /* Reduz a margem direita do logotipo em telas menores */
  }

  main {
    padding: 30px; /* Reduz o preenchimento principal em telas menores */
    margin-top: 40px; 
  }

  .background-section {
    width: 90%; /* Reduz a largura do elemento de fundo em telas menores */
    margin: 30px auto; /* Ajusta a margem do elemento de fundo em telas menores */
  }

  header nav ul li a {
    font-size: 13px;
    color: #333;
  }
  
  .tabContainer ul li {
    /* Estilos para cada item de lista dentro do contêiner de abas */
    display: inline;
    border: 0px solid #ddd;
    padding:  5px 7px;
    background-color: #f5f5f5;
    border-radius: 5px;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .tabContainer ul li a {
    /* Estilos para os links dentro de cada item de lista */
    text-decoration: none; /* Remover sublinhado padrão */
    padding: 10px 20px; /* Adicionar preenchimento ao redor do texto */
    display: inline-block; /* Permitir que os links se comportem como blocos para adicionar preenchimento e margem */
    color: black; /* Cor do texto */
    font-weight:700;
    font-size: 13px;

  }

}
@media screen and (max-width: 631px) {
  /* Coloque aqui os estilos específicos para telas menores que 1034px */
  header {
    height: 100px; /* Reduz a altura do cabeçalho em telas menores */
    display: flex;
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
  }

  header h1 {
    font-size: 15px; /* Reduz o tamanho da fonte do título em telas menores */
    margin-right: 0px; /* Reduz a margem direita do título em telas menores */
  }

  header nav ul li {
    margin-right: 0px; /* Reduz a margem entre os itens de navegação em telas menores */
    display: block;
  }

  .logo-image {
    width: 100px; /* Reduz o tamanho do logotipo em telas menores */
    margin-right: 0px; /* Reduz a margem direita do logotipo em telas menores */
  }


  .background-section {
    width: 90%; /* Reduz a largura do elemento de fundo em telas menores */
    margin: 30px auto; /* Ajusta a margem do elemento de fundo em telas menores */
  }

  header nav ul li a {
    font-size: 12px;
    color: #333;
  }

  .tabContainer ul{
    margin-top: 30px;

  }
  
  .tabContainer ul li {
    /* Estilos para cada item de lista dentro do contêiner de abas */
    display: inline;
    border: 0px solid #ddd;
    padding:  3px 5px;
    background-color: #f5f5f5;
    border-radius: 5px;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .tabContainer ul li a {
    /* Estilos para os links dentro de cada item de lista */
    text-decoration: none; /* Remover sublinhado padrão */
    padding: 10px 20px; /* Adicionar preenchimento ao redor do texto */
    display: inline-block; /* Permitir que os links se comportem como blocos para adicionar preenchimento e margem */
    color: black; /* Cor do texto */
    font-weight:700;
    font-size: 13px;

  }

}